<component name="libraryTable">
  <library name="springframework.data.spring.mongodb" type="repository">
    <properties maven-id="org.springframework.data:spring-data-mongodb:3.0.9.RELEASE" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-mongodb/3.0.9.RELEASE/spring-data-mongodb-3.0.9.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-tx/5.2.14.RELEASE/spring-tx-5.2.14.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/5.2.14.RELEASE/spring-context-5.2.14.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/5.2.14.RELEASE/spring-aop-5.2.14.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.2.14.RELEASE/spring-beans-5.2.14.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.2.14.RELEASE/spring-core-5.2.14.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.2.14.RELEASE/spring-jcl-5.2.14.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/5.2.14.RELEASE/spring-expression-5.2.14.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/data/spring-data-commons/2.3.9.RELEASE/spring-data-commons-2.3.9.RELEASE.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/mongodb/mongodb-driver-core/4.0.6/mongodb-driver-core-4.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/mongodb/bson/4.0.6/bson-4.0.6.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/slf4j-api/1.7.26/slf4j-api-1.7.26.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>